@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; box-sizing: border-box; font-family:Montserrat;}
html,body {width: 100%;	height: 100%;}


/*LAYOUT MOVIL*/

/*LAYOUT DESKTOP*/
@media only screen and (min-width: 768px) {
		
		/*Clases generales del CSS Grid*/
    [class*="col-"] {
				float: left;
				padding: 0px;
    }

    .col-full{width:100%; }
    .col-90  {width:90%;  }
    .col-80  {width:80%;  }
    .col-70  {width:70%;  }
    .col-60  {width:60%;  }
    .col-50  {width:50%;  }
    .col-40  {width:40%;  }
    .col-30  {width:30%;  }
    .col-20  {width:20%;  }
    .col-15  {width:15%;  }
    .col-10  {width:10%;  }
		.col-06  {width:07%;  }
    .col-05  {width:05%;  }
		.col-04  {width:03%;  }

		.col-34  {width:34%;  }
		.col-33  {width:33%;  }
		.col-32  {width:32%;  }

    .row-full{height:100%;}
    .row-90  {height:90%; }
    .row-80  {height:80%; }
		.row-75  {height:75%; }
    .row-70  {height:70%; }
		.row-60  {height:60%; }
		.row-50  {height:50%; }
		.row-25  {height:25%; }
    .row-20  {height:20%; }
		.row-15  {height:15%; }
    .row-10  {height:10%; }

		.row-34  {height:34%;  }
		.row-33  {height:33%;  }
		.row-30  {height:30%;  }

		//.boundtest{border:1px solid darkblue;}

		/*Terminan clases generales*/


		/*Clases y elementos del login*/
		.logintitle p{
				position: relative;
				font-family: Montserrat;
				//font-weight:100;
				color: rgb(255,255,255);
				text-align: center;
				font-size: 3.747em;
				top: calc(50% - 1ex);
		}
		.middle-block {
				background-color: rgba(10,120,180,.5);
				border-radius: 5vh;
		}
		.checktext p{
				position: relative;
				font-size: 2ex;
				top: calc(50% - 1ex);
		}
		.forgot p{
				position:relative;
				text-align:center;
				font-size:2ex;
				top: calc(50% - 1ex);
		}
		.input-text {
				text-align: center;
				font-size: 2.5ex;
				border-left: 1px solid #ccc;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				border-top-left-radius: 1vh;
				border-bottom-left-radius: 1vh;
		}
		.input-text-reg {
				text-align: center;
				font-size: 2.5ex;
				border-left: 1px solid #ccc;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				border-radius: 1vh;
		}
		.input-button {
				background-color: rgb(100,150,225);
				color: white;
				font-size: 2ex;
				border: 0;
				border-top-right-radius: 1vh;
				border-bottom-right-radius: 1vh;
		}
		.input-button-reg {
				background-color: rgb(100,150,225);
				color: white;
				font-size: 2ex;
				border: 0;
				border-radius: 3vh;
		}
		input[type="checkbox"] {
				visibility:hidden;
		}
		.input-checkbox {
				//width: 20px;
				position: relative;
		}

		.input-checkbox label {
				cursor: pointer;
				position: absolute;
				width: 20px;
				height: 20px;
				top: calc(50% - 1.2ex);
				border-radius: 4px;

				-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
				-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
				box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

				//background: -webkit-linear-gradient(top, #999 0%, #95989d 100%);
				background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
				background: -o-linear-gradient(top, #222 0%, #45484d 100%);
				background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
				background: linear-gradient(to bottom, #999 0%, #25282d 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
		}

		.input-checkbox label:after {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				content: '';
				position: absolute;
				width: 9px;
				height: 5px;
				background: transparent;
				top: 4px;
				left: 4px;
				border: 3px solid #fcfff4;
				border-top: none;
				border-right: none;

				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
		}

		.input-checkbox label:hover::after {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
				filter: alpha(opacity=30);
				opacity: 0.3;
		}

		.input-checkbox input[type=checkbox]:checked + label:after {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				opacity: 1;
		}
		.external{
				text-align:center;
		}
		.registerbutton p {
				position:relative;
				text-align:center;
				top:calc(50% - 1ex);
		}
		.wrong {
				border: 2px solid #FF0088;
		}

		#robot {z-index:-2;position:fixed; height:65vh; bottom:0px; right:0px;}
		#robot img{position:relative;height:100%;}
		#numbers {z-index:-1;position:fixed; width:100%; top:0px;}
		#numbers img{position:relative;height:100%;width:100%;}
		#minititle p {font-size:2em;}

		/*Terminan clases y elementos del login.*/
}
